
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="style.css" />
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <!-- icon library-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <title>Canada Rentals</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="headerListings">
        <!--header-->
        <img class="logoListings" src="../images/logo2.jpg" width="150px" height="150px">
        <div class="headertext">
          <h1>Search Results</h1>

        </div>
        </div>
      </div>
        <!--navigation menu-->
        <div class="container-fluid">
            <a id="buttn" href="/">Home</a>
            <a id="buttn" href="/register">Register</a>
            <a id="buttn" href="/upload">Upload Page</a>
        </div>
        <br>
      <div class="cards">
        <!--class for cards-->
        <a href="details">
        <div class="Listing1">
          <!--card-->
          <div class="card" >
            <img src="../images/condo1.jpg" alt="Picture of Condominium" class="card_image">
            <div class="card_content">
              <h5 class="first">Entire Condominium · Vancouver </h5>
              <h4 class="second">Excellent Condo for a Family</h4>
              <p class="third">$183 CAN/night</p>
            </div>
          </div>
        </div>
    </a>
        <a href="details">
        <div class="Listing2">
            <!--card-->
            <div class="card">
              <img src="../images/room2.jpg" alt="Picture of Room" class="card_image">
              <div class="card_content">
                <h5 class="first">Room in Apartments · Edmonton </h5>
                <h4 class="second">Good Room for a Student</h4>
                <p class="third">$30 CAN/night</p>
              </div>
            </div>
          </div>
        </a>
          <a href="details">
          <div class="Listing3">
            <!--card-->
            <div class="card">
              <img src="../images/room3.jpg" alt="Picture of Room" class="card_image">
              <div class="card_content">
                <h5 class="first">Room in Apartments · Toronto </h5>
                <h4 class="second">Room in Downtown Toronto</h4>
                <p class="third">$45 CAN/night</p>
              </div>
            </div>
          </div>
        </a>
          <a href="detailsl">
          <div class="Listing4">
            <!--card-->
            <div class="card">
              <img src="../images/house4.jpg" alt="Picture of House" class="card_image">
              <div class="card_content">
                <h5 class="first">Entire House · Calgary </h5>
                <h4 class="second">Big House for Parties</h4>
                <p class="third">$215 CAN/night</p>
              </div>
            </div>
          </div>
        </a>
          <a href="details">
          <div class="Listing5">
            <!--card-->
            <div class="card">
              <img src="../images/aparts5.jpg" alt="Picture of Apartments" class="card_image">
              <div class="card_content">
                <h5 class="first">Entire Apartments · Vancouver </h5>
                <h4 class="second">Excellent Apartments for Long Term Stays</h4>
                <p class="third">$167 CAN/night</p>
              </div>
            </div>
          </div>
        </a>
          <a href="details">
          <div class="Listing6">
            <!--card-->
            <div class="card">
              <img src="../images/house6.jpg" alt="Picture of House" class="card_image">
              <div class="card_content">
                <h5 class="first">Entire House · Montreal </h5>
                <h4 class="second">Excellent House for Big Families</h4>
                <p class="third">$195 CAN/night</p>
              </div>
            </div>
          </div>
        </a>
    </div>
      <footer class="footerListing">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
      <div class="sociallinks">
        <a href="#" class="fa fa-facebook fa-2x"></a>
        <a href="#" class="fa fa-twitter fa-2x"></a>
        <a href="#" class="fa fa-instagram fa-2x"></a>
        <img src="../images/logo2.jpg" class="footerLogo">
      </div>
  </footer>
</body>
</html>